<header class="sticky top-0 left-0 right-0 bg-tia-maria-700 w-full text-white font-title z-50">
  <div class="px-12 py-4 flex justify-between">
    <% link_to "/", class: "display block" do %>
      { . . } ProxyGear
    <% end %>
    <ul class="list-none flex flex-row font-body text-xs">
      <li class="mr-4 hidden">
        <%= link_to "Services", "/services" %>
      </li>
      <li class="mr-4">
        <%= link_to "Use-cases", "/use-case" %>
      </li>
      <li>
        <%= link_to "Contact", "/contact" %>
      </li>
    </ul>
  </div>
</header>